<#include "/common/layout_dl.html">
<@header>
</@header>
<@body>
<ul class="timeline">

    <#if allNodes??>
    <#list allNodes as node>
    <!-- timeline item -->
         <li>
        <!-- timeline icon -->
            <i class="fa  fa-check-square bg-blue"></i>
            <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> ${(node.beginTime?string('yyyy/MM/dd HH:mm:ss'))!'--'}</span>

            <h3 class="timeline-header"><a href="#">${(node.reviewerName)!}</a></h3>

            <div class="timeline-body">
                ${(node.opinion)!}
            </div>

            <div class="timeline-footer">
            </div>
        </div>
          </li>
    <!-- END timeline item -->
        </#list>
    </#if>
</ul>
</@body>
<@footer>
<script type="application/javascript">
</script>
</@footer>